.parent {
  height: 800px; /* 设置父级容器的高度 */
  position: relative;
  border: 1px solid red;
}

.child {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  min-height: 100%;
  background: darkolivegreen;
}

.CodeMirror-gutters {
  background-color: #f8f8f8;
  border-right: 1px solid #ddd;
}

.CodeMirror-linenumber,
.CodeMirror-foldgutter {
  color: #999;
}
