<div class="card" style="height: 100%">
  <p-splitter  [style.height.%]="100" [panelSizes]="[25, 75]" styleClass="mb-5">
<!--    catalog-->
    <ng-template pTemplate>
      <div class="col flex align-items-center justify-content-center">
        <p-tree [value]="files"></p-tree>
      </div>
    </ng-template>

<!--    table detail-->
    <ng-template pTemplate>
      <div class="col flex align-items-center justify-content-center">

        <div class="mb-3">
          <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()" styleClass="p-button-text"></p-button>
          <p-button type="button" icon="pi pi-refresh" (click)="reset()" styleClass="p-button-text"></p-button>
          <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()" styleClass="p-button-text"></p-button>
        </div>
        <p-table
          [value]="customers"
          [paginator]="true"
          [rows]="5"
          [showCurrentPageReport]="true"
          [tableStyle]="{ 'min-width': '50rem' }"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [rowsPerPageOptions]="[10, 25, 50]"
        >
          <ng-template pTemplate="header">
            <tr>
              <th style="width:25%">Name</th>
              <th style="width:25%">Country</th>
              <th style="width:25%">Company</th>
              <th style="width:25%">Representative</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-customer>
            <tr>
              <td>{{ customer.name }}</td>
              <td>{{ customer.country }}</td>
              <td>{{ customer.company }}</td>
              <td>{{ customer.representative}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
          </ng-template>
          <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
          </ng-template>
        </p-table>
      </div>
    </ng-template>
  </p-splitter>
</div>
