<div class="card containerCustomer margin24">
  <h4 class="card-header">sqlLab</h4>

  <div class="card-body">

    <div class="row padding20">

      <div class="col-sm-10 col-md-4 col-xl-2 col-2  margin10">
<!--        <div class="input-group">
          <label class="btn btn-primary disabled">task name:</label>
          <input class="inputComponent" style="border:1px solid; border-left: 0; border-radius: 0 0 0 0;" type="text" placeholder="task name" aria-label="taskName" [(ngModel)]="jobModule.jobName">
        </div>-->
        <div class="input-group mb-3">
          <span class="btn btn-primary disabled">task name:</span>
          <input type="text" placeholder="job name" class="form-control" id="basic-url" aria-describedby="job name" [(ngModel)]="sqlJobModule.jobName">
        </div>
      </div>


      <div class="col-sm-10 col-md-4 col-xl-2 col-2  margin10">
        <div class="input-group">
          <label class="btn btn-primary disabled">cluster:</label>
          <select class="form-select" id="cluster" (change)="setCluster($event)" >
            <option *ngFor="let c of this.clusterConfigs.clusterConfigList" value="{{c.clustername}}">{{c.clustername}}</option>
          </select>
        </div>
      </div>

      <div class="col-sm-10 col-md-4 col-xl-2 col-2  margin10">
        <div class="input-group">
          <label class="btn btn-primary disabled">module:</label>
          <select class="form-select" id="module" (change)="setModule($event)">
              <option *ngFor="let m of this.clusterConfigs.moduleConfigList" value="{{m.modulename}}">{{m.modulename}}</option>
          </select>
        </div>
      </div>

      <div class="col-sm-10 col-md-4 col-xl-2 col-2  margin10">
        <div class="input-group">
          <label class="btn btn-primary disabled">catalog</label>
          <select class="form-select" id="inputGroupSelect" (change)="setCatalog($event)" >
            <option *ngFor="let d of this.clusterConfigs.catalogConfigList" value="{{d.catalogname}}">{{d.catalogname}}</option>
          </select>
        </div>
      </div>

<!--      <div class="col-sm-10 col-md-4 col-xl-2 col-2  margin10">
        <div class="input-group">
          <label class="btn btn-primary disabled" type="text">table:</label>
          <select class="form-select" id="inputGroupSelect1" aria-label="flink job configs" (change)="setTableName($event)" *ngFor="let t of this.jobModule.tables">
            <option selected>Choose...</option>
            <option value={{t}}>{{t}}</option>
          </select>
        </div>
      </div>-->

      <div class="col-sm-10 col-md-4  col-xl-2 col-2  margin10">
        <div class="input-group">
          <label class="btn btn-primary disabled" type="text">config</label>
          <select class="form-select" id="inputGroupSelect2" aria-label="flink job configs" (change)="setJobConfig($event)">
            <option  *ngFor="let c of this.clusterConfigs.jobConfigList" value="{{c.configname}}">{{c.configname}}</option>
            <option type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">
              edit...
            </option>
          </select>
        </div>
      </div>


      <!-- config flink job -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">flink job configuration</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">jobManageCores:</label>
                  <input type="text" class="form-control" id="recipient-name">
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">desc:</label>
                  <textarea class="form-control" id="message-text"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">save</button>
            </div>
          </div>
        </div>
      </div>


    </div>

   <hr/>

    <codemirror [(ngModel)]="this.sqlJobModule.sqlScript" [config]="cmOptions" >
    </codemirror>

    <hr/>

    <div class="form-check form-switch">

      <ul id="jobConfigSwitch">
        <li >
          <input (click)="isOutput(this.sqlJobModule.isOutputLog)" checked class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">outputLog</label>
        </li>
<!--        <li  style="margin-left:60px;">
          <input (click)="isOutput(this.jobModule.isOutputLog)" checked class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault1">
          <label class="form-check-label1" for="flexSwitchCheckDefault1">outputLog</label>
        </li>-->
      </ul>

    </div>

    <hr style="border: 1px dotted green"/>

    <div class="">


      <button  style="margin: 20px;"  class="btn btn-success" (click)="executorSql(this.sqlJobModule)">executor</button>

      <a  style="margin: 20px;"  class="btn btn-warning">stop</a>

    </div>


    <hr/>



    <codemirror [(ngModel)]="logContent" [config]="logOptions" *ngIf="this.sqlJobModule.isOutputLog">
    </codemirror>

  </div>
</div>



