<div class="card containerCustomer margin24">
  <h4 class="card-header">sqlLab</h4>

  <div class="card-body">

    <div class="row padding20">

      <div class="col-sm-10 col-md-4 col-xl-2 col-2  margin10">

        <div class="input-group mb-3">
          <span class="btn btn-primary disabled">task name:</span>
          <input type="text" placeholder="job name" class="form-control" id="basic-url" aria-describedby="job name" [(ngModel)]="sqlJobModule.jobName">
        </div>
      </div>

      <div class="col-sm-10 col-md-4 col-xl-2 col-2  margin10">
        <div class="input-group">
          <label class="btn btn-primary disabled">cluster:</label>
          <select class="form-select" id="cluster" (change)="setCluster($event)" >
            <option *ngFor="let c of this.clusterConfigs.clusterConfigList" value="{{c.clustername}}">{{c.clustername}}</option>
          </select>
        </div>
      </div>

      <div class="col-sm-10 col-md-4 col-xl-2 col-2  margin10">
        <div class="input-group">
          <label class="btn btn-primary disabled">model:</label>
          <select class="form-select" id="module" (change)="setModule($event)">
              <option *ngFor="let m of this.clusterConfigs.moduleConfigList" value="{{m.modulename}}">{{m.modulename}}</option>
          </select>
        </div>
      </div>

      <div class="col-sm-10 col-md-4 col-xl-2 col-2  margin10">
        <div class="input-group">
          <label class="btn btn-primary disabled">catalog:</label>
          <select class="form-select" id="inputGroupSelect" (change)="setCatalog($event)" >
            <option *ngFor="let d of this.clusterConfigs.catalogConfigList" value="{{d.catalogname}}">{{d.catalogname}}</option>
          </select>
        </div>
      </div>

      <div class="col-sm-10 col-md-4  col-xl-2 col-2  margin10">
        <div class="input-group">
          <label class="btn btn-primary disabled" type="text">config: </label>
          <select class="form-select" id="config" (change)="selectJobConfig($event)">
            <option  *ngFor="let c of this.clusterConfigs.jobConfigList" value="{{c.configName}}">{{c.configName}}</option>
            <option  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">
              edit...
            </option>
          </select>
        </div>
      </div>


      <!-- config flink job -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

        <div class="modal-dialog modal-lg">

          <div class="modal-content">

            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">flink job configuration</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

              <div class="input-group">

                <label class="btn btn-dark disabled" type="text">config list</label>
                <select class="form-select" (change)="selectJobConfig($event)">
                  <option  *ngFor="let c of this.clusterConfigs.jobConfigList" value="{{c.configName}}">{{c.configName}}</option>
                  <option  class="form-select" (click)="newConfig(this.jobConfig)" ><p style="color: green">new config</p></option>
                </select>
              </div>

              <hr style="color: dodgerblue"/>

             <form>
              <div class="mb-3">
                <label class="col-form-label">configName:</label>
                <input name="jobConfig" [(ngModel)]="this.jobConfig.configName" type="text" class="form-control" id="configname-name">
              </div>

<!--               resource config -->
               <div class="mb-3">
                 <label class="col-form-label">jmMemory(M):</label>
                 <input name="tmmemory" [(ngModel)]="this.jobConfig.jmmemory" type="text" class="form-control" id="jmmemory-name">
               </div>

               <div class="mb-3">
                 <label class="col-form-label">tmMemory(M):</label>
                 <input name="tmmemory" [(ngModel)]="this.jobConfig.tmmemory" type="text" class="form-control" id="tmmemory-name">
               </div>

               <div class="mb-3">
                 <label class="col-form-label">tmSlots:</label>
                 <input name="tmnumslots" [(ngModel)]="this.jobConfig.tmnumslots" class="form-control" id="tmnumslots-text">
               </div>

               <div class="mb-3">
                 <label class="col-form-label">defaultParallel:</label>
                 <input name="defaultparallel" [(ngModel)]="this.jobConfig.defaultparallel" type="text" class="form-control" id="defaultparallel-name">
               </div>


<!--              checkpoint config   -->
              <div class="mb-3">
                <label class="col-form-label">enableCheckPoint:</label>
                <select class="form-select" (change)="enableCheckPoint($event)">
                  <option selected>enable</option>
                  <option class="btn-danger">disable</option>
                </select>
              </div>

              <div class="mb-3" style="display: inline-block">
                <label class="col-form-label" style="width:18%; float:left"  >ckInterval:</label>
                <input class="form-control"  name="ckinterval" style="float:left; width:20%; margin-right: 10%;" [(ngModel)]="this.jobConfig.ckinterval"  id="ckinterval-text">

                 <label class="form-check-inline col-form-label" style="float:left; width:24%;" >ckIntervalTimeType:</label>
                 <select class="form-select form-check-inline" style="float:left; width:20%" (change)="setCKIntervalTimeType($event)">
                   <option selected>milliseconds</option>
                   <option class="btn-danger">seconds</option>
                   <option class="btn-danger">minutes</option>
                   <option class="btn-danger">hours</option>
                 </select>
              </div>

               <div class="mb-3" style="display: inline-block">
                 <label class="col-form-label" style="width:18%; float:left"  >ckTimeOut:</label>
                 <input class="form-control"  name="ckinterval" style="float:left; width:20%; margin-right: 10%;" [(ngModel)]="this.jobConfig.ckTimeout"  id="ckTimeOut-text">

                 <label class="form-check-inline col-form-label" style="float:left; width:24%;" >ckIntervalTimeType:</label>
                 <select class="form-select form-check-inline" style="float:left; width:20%" (change)="setCKIntervalTimeType($event)">
                   <option selected>milliseconds</option>
                   <option class="btn-danger">seconds</option>
                   <option class="btn-danger">minutes</option>
                   <option class="btn-danger">hours</option>
                 </select>
               </div>

              <div class="mb-3">
                <label class="col-form-label">ckDir:</label>
                <input name="ckdir" [(ngModel)]="this.jobConfig.ckdir" type="text" class="form-control" id="ckdir-name">
              </div>

               <div class="mb-3" style="display: inline-block">
                 <label class="col-form-label" style="width:35%; float:left"  >minPauseBetweenCheckpoints:</label>
                 <input [(ngModel)]="this.jobConfig.minPauseBetwCks" class="form-control"  name="minPauseBetwCks" style="float:left; width:15%; margin-right: 5%;" id="minPauseBetwCks-text">

                 <label class="form-check-inline col-form-label" style="float:left; width:12%;" >TimeType:</label>
                 <select class="form-select form-check-inline" style="float:left; width:20%" (change)="setMinPauBetCKTimeType($event)">
                   <option selected>milliseconds</option>
                   <option class="btn-danger">seconds</option>
                   <option class="btn-danger">minutes</option>
                   <option class="btn-danger">hours</option>
                 </select>
               </div>


<!--           state backend config-->
              <div class="mb-3">
                <label class="col-form-label">stateBackend:</label>
                <select class="form-select" (change)="selectStateBackend($event)">
                  <option selected>fsStateBackend</option>
                  <option>memoryStateBackend</option>
                  <option>rocksDBStateBackend</option>
                </select>
              </div>

               <div class="mb-3">
                 <label class="col-form-label">stateBackendDir:</label>
                 <input name="ckdir" [(ngModel)]="this.jobConfig.statebackendPath" type="text" class="form-control" id="stateBackendDir-name">
               </div>

               <div class="mb-3">
                 <label class="col-form-label">ExtCkClean:</label>
                 <select class="form-select" (change)="setExtCkClean($event)">
                   <option selected>NO_EXTERNALIZED_CHECKPOINTS</option>
                   <option>RETAIN_ON_CANCELLATION</option>
                   <option>DELETE_ON_CANCELLATION</option>
                 </select>
               </div>

<!--          restart strategy config -->
              <div class="mb-3">
                <label class="col-form-label">restartStrategy:</label>
                <select class="form-select" (change)="selectRestartStrategy($event)">
                  <option selected>none</option>
                  <option>fixedDelay</option>
                  <option>failureRate</option>
                </select>
              </div>

               <div class="mb-3" style="display: inline-block">
                 <label class="col-form-label" style="width:25%; float:left"  >failureDelayInterval:</label>
                 <input [(ngModel)]="this.jobConfig.faiDelInt" class="form-control"  name="faiDelInt" style="float:left; width:15%; margin-right: 5%;" id="faiDelInt-text">

                 <label class="form-check-inline col-form-label" style="float:left; width:12%;" >TimeType:</label>
                 <select class="form-select form-check-inline" style="float:left; width:20%" (change)="setFailureDelayIntervalTimeType($event)">
                   <option selected>milliseconds</option>
                   <option class="btn-danger">seconds</option>
                   <option class="btn-danger">minutes</option>
                   <option class="btn-danger">hours</option>
                 </select>
               </div>
            <!--   fixDelay            -->

               <div class="mb-3">
                 <label class="col-form-label">failureNumber:</label>
                 <input name="failureNum" [(ngModel)]="this.jobConfig.failureNum" class="form-control" id="failureNum-text">
               </div>

               <!--      failureRate               -->
               <div class="mb-3">
                 <label class="col-form-label">failureRate:</label>
                 <input name="failurerate" [(ngModel)]="this.jobConfig.failurerate" class="form-control" id="failurerate-text">
               </div>

               <div class="mb-3" style="display: inline-block">
                 <label class="col-form-label" style="width:18%; float:left"  >failureInterval:</label>
                 <input [(ngModel)]="this.jobConfig.failureinterval"  class="form-control"  name="failureinterval" style="float:left; width:15%; margin-right: 5%;" id="failureinterval-text">

                 <label class="form-check-inline col-form-label" style="float:left; width:16%;" >TimeType:</label>
                 <select class="form-select form-check-inline" style="float:left; width:20%" (change)="setFailureIntervalTimeType($event)">
                   <option selected>milliseconds</option>
                   <option class="btn-danger">seconds</option>
                   <option class="btn-danger">minutes</option>
                   <option class="btn-danger">hours</option>
                 </select>
               </div>

<!--          config file desc -->
              <div class="mb-3">
                <label class="col-form-label">desc:</label>
                <textarea name="tmnumslots"  [(ngModel)]="this.jobConfig.descr" class="form-control" id="descr-text"></textarea>
              </div>

            </form>
            </div>

            <div class="modal-footer">
<!--              <button type="button" class="btn btn-primary" (click)="addJobConfig(this.jobConfig)">add</button>-->
              <button type="button" class="btn btn-success" (click)="addJobConfig(this.jobConfig)">save</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>


    </div>

   <hr/>

 <!--   <codemirror [(ngModel)]="this.sqlJobModule.sqlScript" [config]="cmOptions" >
    </codemirror>-->

    <ngx-codemirror #codemirror
                    [options]="cmOptions"
                    [(ngModel)]="this.sqlJobModule.sqlScript"
                    (ngModelChange)="setEditorContent($event)">
    </ngx-codemirror>

    <hr/>

    <div class="form-check form-switch">

      <ul id="jobConfigSwitch">
        <li >
          <input (click)="isOutput(this.sqlJobModule.isOutputLog)" checked class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">outputLog</label>
        </li>

      </ul>

    </div>

    <hr style="border: 1px dotted green"/>

    <div class="">


      <button  style="margin: 20px;"  class="btn btn-success" (click)="executorSql(this.sqlJobModule)">executor</button>

      <a  style="margin: 20px;"  class="btn btn-warning">stop</a>

    </div>

    <hr/>

<!--    <codemirror [(ngModel)]="logContent" [options]="logOptions" *ngIf="this.sqlJobModule.isOutputLog">
    </codemirror>-->
    <ngx-codemirror  *ngIf="this.sqlJobModule.isOutputLog" #codemirror
                    [options]="cmOptions"
                    [(ngModel)]="logContent"
                    >
    </ngx-codemirror>

  </div>
</div>



