<div class="card containerCustomer">
  <h4 class="card-header">sqlLab</h4>

  <div class="card-body">

    <div class="row padding20">

      <div class="col-sm-10 col-md-4 col-xl-2 col-2  margin10">
        <div class="input-group">
          <label class="btn btn-primary disabled">cluster:</label>
          <select class="form-select" id="cluster" *ngFor="let c of this.jobModule.clusters">
            <option selected>standAlong</option>
            <option value="{{c}}">{{c}}</option>
          </select>
        </div>
      </div>

      <div class="col-sm-10 col-md-4 col-xl-2 col-2  margin10">
        <div class="input-group">
          <label class="btn btn-primary disabled">module:</label>
          <select class="form-select" id="module" *ngFor="let m of this.jobModule.modules">
            <option selected>standAlong</option>
            <option value="{{m}}">{{m}}</option>
          </select>
        </div>
      </div>

      <div class="col-sm-10 col-md-4 col-xl-2 col-2  margin10">
        <div class="input-group">
          <label class="btn btn-primary disabled">dataBase</label>
          <select class="form-select" id="inputGroupSelect" *ngFor="let d of this.jobModule.dataBases">
            <option selected>default</option>
            <option value="{{d}}">{{d}}</option>
          </select>
        </div>
      </div>

      <div class="col-sm-10 col-md-4 col-xl-2 col-2  margin10">
        <div class="input-group">
          <label class="btn btn-primary disabled" type="text">table:</label>
          <select class="form-select" id="inputGroupSelect1" aria-label="flink job configs" *ngFor="let t of this.jobModule.tables">
            <option selected>Choose...</option>
            <option value={{t}}>{{t}}</option>
          </select>
        </div>
      </div>

      <div class="col-sm-10 col-md-4  col-xl-2 col-2  margin10">
        <div class="input-group">
          <label class="btn btn-primary disabled" type="text">config</label>
          <select class="form-select" id="inputGroupSelect2" aria-label="flink job configs" *ngFor="let c of this.jobModule.configs.keys()">
            <option value="default">default</option>
            <option type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">
                edit...
            </option>
            <option value={{c}}>{{c}}</option>
          </select>
        </div>
      </div>


      <!-- config flink job -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">flink job configuration</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">jobManageCores:</label>
                  <input type="text" class="form-control" id="recipient-name">
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">desc:</label>
                  <textarea class="form-control" id="message-text"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">save</button>
            </div>
          </div>
        </div>
      </div>


    </div>

   <hr/>

<!--    <codemirror [(ngModel)]="code"  [config]="cmOptions
                    (focus)="onFocus()" (blur)="onBlur()"">
        </codemirror>-->


    <codemirror [(ngModel)]="code" [config]="cmOptions" >
    </codemirror>

    <hr/>

    <a  style="margin: 20px;"  class="btn btn-success" (click)="executorSql(code)">executor</a>

    <a  style="margin: 20px;"  class="btn btn-warning">stop</a>

  </div>
</div>



