<p-fieldset>
  <ng-template pTemplate="header">
    <div class="flex align-items-center text-primary">
      <span class="pi pi-user mr-2"></span>
      <span class="font-bold text-lg">User Details</span>
    </div>

  </ng-template>
  <div>
      <span class="p-float-label ">
<!--          <p-inputNumber inputId="integeronly" [(ngModel)]="value1"> </p-inputNumber>-->
          <p-inputNumber inputId="integeronly" > sfsdfs</p-inputNumber>
          <label htmlFor="number-input">Number</label>
      </span>
  </div>
</p-fieldset>
