table{
  width: 100%;
  table-layout: fixed;
}
.autocut{
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  -o-text-overflow:ellipsis;
  -icab-text-overflow: ellipsis;
  -khtml-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}
.autocut:hover
{
  overflow:visible;
  white-space:normal;
  word-wrap: break-word;
}
