<div class="container-fluid">
  <div class="card" style="width:95%; margin:auto">
    <div class="card-header font-monospace text-center">
      jobManager
    </div>
    <div class="card-body" style="padding:8px 0;">
      <table class="table table-striped table-bordered" style="margin:0">
        <thead>
        <tr>
          <th scope="col">jobId</th>
          <th scope="col">yarnApplicationId</th>
          <th scope="col">jobName</th>
          <th scope="col">createData</th>
          <th scope="col">updateData</th>
          <th scope="col" class="text-center">status</th>
          <th scope="col">author</th>
          <th scope="col">desc</th>
          <th scope="col" class="text-center">option</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1000001</td>
          <td>application_1676556081816_0001</td>
          <td>sqlTestDemo</td>

          <td>2023-01-12 14:28:56</td>
          <td>-</td>
          <td class="text-center"><span style="line-height: 18px; font-size: 18px;" class="badge text-bg-primary">create</span></td>
          <td>kuro</td>
          <td  class="autoCut" >
            this is requirement is use riverMaps platform implement a simple stream process app
          </td>
          <td class="text-center" style="white-space: nowrap;">
            <button style="margin: 0 2px" class="btn btn-success" >detail</button>
            <button style="margin: 0 2px" class="btn btn-warning">restart</button>
             <button style="margin: 0 2px" class="btn btn-danger" >&nbsp;&nbsp;&nbsp;kill&nbsp;&nbsp;&nbsp;</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
