<div class="container-fluid">
  <div class="card" style="width:80%; margin:auto">
    <div class="card-header">
      jobManager
    </div>
    <div class="card-body" style="padding:8px 0">
      <table class="table table-striped table-bordered" style="margin:0">
        <thead>
        <tr>
          <th scope="col">jobId</th>
          <th scope="col">yarnApplicationId</th>
          <th scope="col">jobName</th>
          <th scope="col">createData</th>
          <th scope="col">updateData</th>
          <th scope="col">status</th>
          <th scope="col">author</th>
          <th scope="col">desc</th>
          <th scope="col">option</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1000001</td>
          <td>application_1676556081816_0001</td>
          <td>sqlTestDemo</td>

          <td>2023-01-12 14:28:56</td>
          <td>-</td>
          <td><span style="line-height: 18px; font-size: 18px;" class="badge text-bg-primary">create</span></td>
          <td>kuro</td>
          <td  class="autocut">
            this is requirement is use riverMaps platform implement a simple stream process app
            this is requirement is use riverMaps platform implement a simple stream process app
            this is requirement is use riverMaps platform implement a simple stream process app
            this is requirement is use riverMaps platform implement a simple stream process app

          </td>
          <td>
            <button style="margin: 0 8px" class="btn btn-warning">restart</button>
            <button style="margin: 0 8px" class="btn btn-danger">kill</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
