/* You can add global styles to this file, and also import other style files */
/*@import "../node_modules/bootstrap/dist/css/bootstrap.css";*/
@import "~codemirror/lib/codemirror.css";
@import "~codemirror/theme/zenburn.css";
@import '~codemirror/addon/hint/show-hint.css';
@import "~codemirror/addon/search/matchesonscrollbar.css";
@import "~primeng/resources/themes/lara-light-blue/theme.css";
@import "~primeng/resources/primeng.css";
@import "~primeicons/primeicons.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

.containerCustomer {
  width:85%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.container90 {
  width:80%;
}

.margin10 {
  margin-top: 12px;
}

.padding20 {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.labelItemp {
  font-size: 12px;
  width: 80px;
  margin-right:10px;
}

.CodeMirror {
  font-family: monospace;
  height: auto;
  min-height: 500px;
  max-height: 2160px;
  color: black;
  direction: ltr;
}
